body {
    background-color: #155f15
}

#topo {
    display: flex;
    justify-content: center;
    color: #dfdf97;
    background-color: r#567f1a;
}

#dados {
    width: 100%;
    margin: 30px 0px;
    position: relative;
}

#forms {
    border-color: #e8e8c5;
    background-color: #567f1a;
    color: #dfdf97;
    height: 87vh;
    font-size: 25px;
}

#text {
    width: 300px;
    height: 80px;
}

.boton {
    display: flex;
    justify-content: left;
    margin: 5px;
    border-radius: 20%;
}